root = true

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp}]
indent_style = tab
tab_width = 8

[*.{cmake,txt}]
indent_style = tab
tab_width = 8

[{README,HACKING}]
indent_style = tab
tab_width = 8
