.*.sw?
*.pyc
*.tar.bz2
*.zip
*~
*.spv

.ninja_log
build.ninja
rules.ninja
.ninja_deps

_CPack_Packages

bin
lib
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
CMakeCache.txt
target_api
tests/glslparsertest/glslcompiler
generated_tests/cl
compile_commands.json

.tox/
.cache/
__pycache__/

*.css
*.html
