
table {
	border: 0pt;
	border-collapse: collapse;
	padding-left: 1.75em;
	padding-right: 1.75em;
	width: 100%;
}

col:not(:first-child) {
	width: 70pt;
}

tr {
	padding: 4pt;
}

td {
	padding: 4pt;
}

td:first-child {
	padding: 0;
}

td:first-child > div {
	padding: 4pt;
}

.title {
	background-color: #c8c838;
}

.head {
	background-color: #c8c838
}

td.skip, td.warn, td.fail, td.pass, td.trap, td.abort, td.crash {
	text-align: right;
}

td.trap, td.abort, td.crash {
	color: #ffffff;
}

td.trap a, td.abort a, td.crash a {
	color: #ffffff;
}

tr:nth-child(odd)  > td > div:not(.head) { background-color: #ffff95 }
tr:nth-child(even) > td > div:not(.head) { background-color: #e1e183 }

tr:nth-child(odd)  td.pass  { background-color: #20ff20; }
tr:nth-child(even) td.pass  { background-color: #15e015; }

tr:nth-child(odd)  td.skip  { background-color: #b0b0b0; }
tr:nth-child(even) td.skip  { background-color: #a0a0a0; }

tr:nth-child(odd)  td.warn  { background-color: #ff9020; }
tr:nth-child(even) td.warn  { background-color: #ef8010; }

tr:nth-child(odd)  td.fail  { background-color: #ff2020; }
tr:nth-child(even) td.fail  { background-color: #e00505; }

tr:nth-child(odd)  td.trap  { background-color: #111111; }
tr:nth-child(even) td.trap  { background-color: #000000; }
tr:nth-child(odd)  td.abort { background-color: #111111; }
tr:nth-child(even) td.abort { background-color: #000000; }
tr:nth-child(odd)  td.crash { background-color: #111111; }
tr:nth-child(even) td.crash { background-color: #000000; }
